.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name{
    font-size: 2.3rem;
    font-weight: bold;
    background: linear-gradient(55deg, red, rgb(107, 107, 206), yellow);
}

.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list{
    flex: 10;
}

.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

.n-list>ul>li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.button{
    border-radius: 54px;
    border: none;
    color: rgba(red, green, blue, alpha);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    color: rgb(255, 0, 106);
    background-color: linear-gradient(180deg, #fde50f 26.71%,);
    box-shadow: 20px 10px 20px rgb(189, 147, 33);
}

.menu-icon.open {
    color: #181717;
  }
  
  .n-list.open {
    display: block;
  }
  
  @media (max-width: 768px) {
    .n-list {
      display: none;
    }
  
    .n-list.open {
      display: block;
    }
  }